<%- include('includes/head') %>

    <section class="container">
        <h1> 
            <%= title %><br>
            <%- title %>
        </h1>

        <p>
            <% if (typeof text !== 'undefined') { %>
                <%= text %>
            <% } else { %>
                Text was not sent
            <% } %>
        </p>

        <p>
            <% numbers.forEach(num => { %>
                <%= num %>
            <% })%>
        </p>

        <form action="/" method="post">
            <label>
                Client
                <input type="text" name="client">
                <button>Submit</button>
            </label>
        </form>
    </section>

<%- include('includes/footer') %>